 /* navabr css start*/
 #logo {
    margin-left: 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  #logo span {
    color: #ffc000;
  }

  #logo span1 {
    font-size: 30px;

  }

  #menu:hover {
   color: #fff;
  }
/*navabr css end*/

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #652677;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ffc000;
    font-size: 12px;
}
td img{
    width: 90px;
    height: 80px;
}